#dashboardWrapper {
  height: 110px;
  width: 100%;
}

#buttonsWrapper {
  margin: 0 auto;
  width: 300px;
  height: 110px;
}

.dashboard {
 width: 150px;
 height: 110px;
 border-radius: 50px;
 background-color: #1da1f2;
 text-align: center;
 font-weight: bold;
 font-size: 20px;
 color: white;
 display: inline;
 margin: auto;
 position: relative;
}

.dashboard.instagram {
  background-color: salmon;
}

#render {
  width: 100%;
  background-color: lightyellow;
  display: inline-block;
}

.displayWrapper {
  display: inline-block;
}

.story {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: Gainsboro;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  left: 20px;
  top: 10px;
  display: inline-block;
}

#twitterFriends {
  width: 100%;
  background-color: lightyellow;
  display: inline-block;
}

#timeline {
  overflow: scroll;
  margin: 0 auto;
  width: 600px;
  height: 800px;
}

.displayBox {
  height: 90px;
  width: 110px;
  display: inline-block;
}

.dashboardDisplay {
  height: 30px;
  width: 30px;
  background-color: sandybrown;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.dashboardDisplay.users {
  background-color: lightskyblue;
}

.dashboardDisplay.instagram {
  background-color: purple;
}

.dashboardDisplay.stories {
  background-color: orange;
}

.resetDashboard {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: relative;
  bottom: 37px;
}

.newTweetsDisplay {
  height: 20px;
  width: 20px;
  background-color: lightpink;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 70px;
  left: 50px;
}

.numberDisplay{
  text-align: center;
  color: white;
  position: relative;
  top: 5px;
  font-weight: bold;
  font-size: 0.8em;
  font-family: sans-serif;
}

.PicClip {
  clip-path: circle(50%);
  height: 60px;
  width: 60px;
  position: relative;
  top: 1px;
  left: 2px;
}

.PicClip.small{
  height:20px;
  width:20px;
  margin: 2px;
}
