<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotlight configuration</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>
<body>
<form method="post">
<table class="table">
  <tbody>
{% for user in users.values() %}
    <tr>
      <td>@{{user.screen_name[0]}}</td>
{% if user.view_status %}
      <td style="color: green">active</td>
      <td><input type="checkbox" name="{{user.id[0]}}"   ></td>
{% else %}
      <td style="color: red">off</td>
      <td><input type="checkbox" name="{{user.id[0]}}"  ></td>
{% endif %}
    </tr>
{% endfor %}
  </tbody>
</table>
<input formaction="/config/instagram" value="atualizar" type="submit">
</form>

</body>
</html>
