<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotlight</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/babel" src="./static/index.js"></script>
    <link rel="stylesheet" href="./static/index.css">
    <link rel="icon" href="./static/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div><a href="http://127.0.0.1:5000/login">login</a></div>
<div><a href="http://127.0.0.1:5000/signin">Sign In</a></div>
<div><a href="http://127.0.0.1:5000/config">Config</a></div>
<div id="flex">
  <div id="render"></div>
  <div id="timeline"></div>
</div>

</body>
</html>
